<div class="todoBoard">

  <div class="todoHeader">
    <app-todo-header></app-todo-header>
  </div>

  <app-todo-form 
    (onAddNewTodo)="addNewTodoFromForm($event)">
  </app-todo-form>

  <ul>
    <app-todo (onDeleteNewTodos)="updateTodosFromItem($event)"
        *ngFor="let todo of todos; let idx = index;" 
        [todoName]="todo.todoName"
        [todoIDXtoDelete]="idx"
        [todoID]="todo.todoID"
        [existingTodos]="this.todos"
        >
    </app-todo>
  </ul>

  <div class="todoFooter">
    <app-todo-footer [pendingTodos]="this.pendingTodos"></app-todo-footer>
  </div>

</div>
